<a ng-href="#/recipe_detail/{{recipe.id}}">
	<section class="card">
		<section class="thumbnail"> <img ng-src="{{recipe.imageURL}}"> </section> 
		<section class="recipe-detail">
			<section class="recipe-title"> {{recipe.title}} <span class="pull-right comments"> <i class="fa fa-comments"></i> {{recipe.comments}} </span></section>
			<section class="recipe-author"><i> by {{recipe.author}} </i></section>
			<section class="recipe-review"> <i class="glyphicon glyphicon-star" ng-repeat="n in range(1,recipe.review)"></i> </section>
		</section>
	</section>
</a>