<!-- Recipe List -->

<section class="wrapper-recipe-list" ng-controller="RecipeListController">
	<section class="text-right">
		<a href="#/add_recipe"><button class="btn btn-add"> <i class="glyphicon glyphicon-star"></i> Add New Recipe </button></a>
	</section>

	<section class="recipe-list mt-20">
		<tabset>
	        <tab>
	            <tab-heading> <i class="glyphicon glyphicon-star"></i> HIGHEST RATED </tab-heading>
	            <section masonry preserve-order masonry-options="{ transitionDuration: '0.4s' }">
		            <section class="masonry-brick" ng-repeat="recipe in recipes | orderBy : '-review'"> 
	            		<recipe-card></recipe-card>
	            	</section>
	            </section>
	        </tab>
	        <tab>
	            <tab-heading> <i class="fa fa-comments"></i> MOST COMMENTED </tab-heading>
	            <section masonry preserve-order masonry-options="{ transitionDuration: '0.4s' }">
	            	<section class="masonry-brick" ng-repeat="recipe in recipes | orderBy : '-comments'"> 
	            		<recipe-card></recipe-card>
	            	</section>
	            </section>
	        </tab>
	        <tab>
	            <tab-heading> <i class="fa fa-flag"></i> LATEST RECIPES </tab-heading>
				<section masonry preserve-order masonry-options="{ transitionDuration: '0.4s' }">
		            <section class="masonry-brick" ng-repeat="recipe in recipes | orderBy : 'date'"> 
	            		<recipe-card></recipe-card>
	            	</section>
	            </section>
	        </tab>
	    </tabset>
	</section>
</section>